numpy==1.26.4
scipy==1.15.1
protobuf==3.20.3
streamlit==1.40.1
scikit-learn == 1.5.1
pandas==2.2.2
tensorflow == 2.16.2
keras == 3.7.0
matplotlib == 3.10.0
statsmodels == 0.14.0
joblib == 1.2.0
arch == 7.2.0
bspline == 0.1.1
deepxde == 1.13.0
